@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Variable.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-VariableItalic.ttf");
  font-style: italic;
  font-display: swap;
}

button:active {
  border-style: solid;
}
html {
  font-family: "Satoshi";
  color: hsl(var(--muted-foreground));
}
div {
  font-family: "Satoshi";
}
a {
  text-decoration: none;
  color: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 210 33% 99%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 264 92% 62%;
    --accent-foreground: 240 20% 99%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    .light-scale-100 {
      transform: scale(1);
      display: block;
    }
    .light-scale-0 {
      display: none;
    }
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 264 92% 62;
    --accent-foreground: 240 20% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 264, 92%, 62%;
    --ring: 240 4.9% 83.9%;
    .dark-scale-100 {
      transform: scale(1);
      display: block;
    }
    .dark-scale-0 {
      display: none;
    }
  }
}

// @layer base {
//   * {
//     @apply border-border;
//   }
//   body {
//     @apply bg-background text-foreground;
//   }
// }

.top-container-image {
  height: 7rem;
  width: auto;
  border-radius: 9999px;
  background-color: #ffbe98;
}
