---
const { class: className, title, id } = Astro.props;
---

<style>
  .section-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .section-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
	position: sticky;
	z-index: 101;
	top: 1rem;
	max-width: 250px;
	
	/* background-color: hsl(var(--background)); */

    @media (min-width: 768px) {
      width: 33.333333%;
	  max-width: 33.333333%;
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    @media (min-width: 768px) {
      width: 66.666667%;
    }
  }
</style>

<section id={id} class="section-container">
  <div class="section-title">
    {title}
  </div>
  <div class="section-content">
    <slot />
  </div>
</section>
