---

---

<style>
  .header {
    display: flex;
    padding-bottom: 0.75rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.25rem;

    @media (min-width: 640px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  .nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: 640px) {
      display: flex;
      align-items: center;
    }
  }

  .resume-link {
    flex: none;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  .link-container {
    display: flex;
    flex-direction: row;
    column-gap: 1.25rem;
    justify-content: center;
    align-items: center;

    @media (min-width: 640px) {
    }
  }

  .dark-mode-button {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;

    background-image: none;
    text-transform: none;
    position: relative;
    border-radius: calc(var(--radius) - 2px);
    border-width: 1px;
    padding: 0.375rem;
    --tw-background-opacity: 1;
    border-color: hsl(var(--border) / var(--tw-background-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    cursor: pointer;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-style: solid;
  }
  .dark-mode-button:hover {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--border) / var(--tw-bg-opacity));
    box-shadow: none;
  }
  .dark-theme-icon:dark {
    --transform-scale-x: 0;
    --transform-scale-y: 0;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .dark-theme-icon {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    --transform-rotate: 0;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
  }

  .light-theme-icon {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    --transform-scale-x: 0;
    --transform-scale-y: 0;
    --transform-rotate: 90deg;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
  }
</style>
<header class="header">
  <nav class="nav" aria-label="global">
    <a class="resume-link" href="/" aria-label="Brand">Resume</a>

    <div class="link-container">
      <!-- <a
        href="/blog"
        class="flex-none text-[1.05rem] font-medium hover:text-foreground/75"
        aria-label="Nav Menu Item"
        >Blog
      </a>
      <a
        href="/tools"
        class="flex-none text-[1.05rem] font-medium hover:text-foreground/75"
        aria-label="Nav Menu Item"
        >Tools
      </a> -->

      <button id="toggleDarkMode" class="dark-mode-button">
        <span class="sr-only">Dark Theme</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          class="dark-theme-icon dark-scale-0 light-scale-100"
          ><path
            fill="currentColor"
            d="M12 15q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15m0 1q-1.671 0-2.836-1.164T8 12q0-1.671 1.164-2.836T12 8q1.671 0 2.836 1.164T16 12q0 1.671-1.164 2.836T12 16m-7-3.5H1.5v-1H5zm17.5 0H19v-1h3.5zM11.5 5V1.5h1V5zm0 17.5V19h1v3.5zM6.746 7.404l-2.16-2.098l.695-.744l2.111 2.134zM18.72 19.438l-2.117-2.14l.652-.702l2.16 2.098zM16.596 6.746l2.098-2.16l.744.695l-2.134 2.111zM4.562 18.72l2.14-2.117l.663.652l-2.078 2.179zM12 12"
          ></path></svg
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          class="light-theme-icon dark-scale-100 light-scale-0"
          ><path
            fill="currentColor"
            d="M12.058 20q-3.334 0-5.667-2.333Q4.058 15.333 4.058 12q0-3.038 1.98-5.27Q8.02 4.5 10.942 4.097q.081 0 .159.006t.153.017q-.506.706-.801 1.57q-.295.865-.295 1.811q0 2.667 1.866 4.533q1.867 1.867 4.534 1.867q.952 0 1.813-.295q.862-.295 1.548-.801q.012.075.018.153q.005.078.005.158q-.384 2.923-2.615 4.904T12.057 20"
          ></path></svg
        >
      </button>
    </div>
  </nav>
</header>

<script>
  function getCurrentTheme() {
    return localStorage.getItem("theme");
  }
  const toggleDarkModeButton = document.getElementById("toggleDarkMode");

  toggleDarkModeButton?.addEventListener("click", () => {
    const toggleDarkModeEvent = new CustomEvent("theme-change", {
      detail: { theme: getCurrentTheme() === "light" ? "dark" : "light" },
    });
    document.dispatchEvent(toggleDarkModeEvent);
  });
</script>
